extends template

block content
    h1 Contact Page
    form(method="POST")
        input(type="text" name="name" placeholder="Your Name")
        input(type="email" name="Email" placeholder="you@whatever.com")
        input(type="submit" value="Submit Form")
    