extends template

block content
    h1 Home Page
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore dolores dolorum unde dicta fuga delectus, quis expedita nisi optio incidunt facere ab cum illum tempora beatae natus commodi odit consequatur.
    